body {
    font-family: 'Oswald', sans-serif;
    width: 1057px;
    margin: auto;
    max-height: 80vh;
}

.da {
    display: flex;
    justify-content: center;
    margin: auto 160px;
    gap: 40px;
}

.text {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
}

span {
    font-size: 24px;
    margin-top: auto;
}

img {
    max-width: calc(100vw - 360px);
    max-height: calc(100vh - 100px);
}
